@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    box-sizing: border-box;
    /* font-family: 'Roboto',sans-serif; */
        /* font-family: 'Open Sans',sans-serif; */
    font-family: 'Roboto Condensed',sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


/* header section css start from here  */
.header-top{
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #d7d7d8;
}

.header-top h5.header-top-title{
    padding: 5px;
    font-size: 12px;
    color: #000;
    letter-spacing: 0;
    line-height: 20px;
    transition: .3s;
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
}

/* main nav section start from here  */
.main-nav-section .navbar{
    transition: .3s;
    background-color: #fff;
    border-bottom: .5px solid #d7d7d8;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    height: 60px;
    padding: 0 30px;position: relative;
}
.main-nav-section .navbar .navbar-brand{
    padding: 0;
}
.main-nav-section .navbar .navbar-brand img{
    width: 120px; 
}
.main-nav-section .navbar-nav .nav-link {
      color: #000;
      font-size: 13px;
      font-weight: 500;
      height: 100%;
      letter-spacing: 0.3px;
     padding-left: 18px;
     padding-right: 18px;
      text-transform:capitalize
}
.main-nav-section .navbar-nav .nav-link:hover{
    border-bottom: 1px solid #000;
   -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
   -ms-transition: all .25s ease;
   -o-transition: all .25s ease;
   transition: all .25s ease;
}
.main-nav-section .navbar .megamenu {
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav-section  .dropdown-toggle::after{
    border-top: transparent;

}
 
.main-nav-section .dropdown-menu{
   	-webkit-transition: all .25s ease;
   	-moz-transition: all .25s ease;
   	-ms-transition: all .25s ease;
   	-o-transition: all .25s ease;
   	transition: all .25s ease;
        /* display: block !important; */
}
  .main-nav-section .navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: block !important;
   
} 

.main-nav-section .dropdown-menu li a{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 22px;
    color: #000;
    font-weight: 500;text-transform: capitalize;
    
}

.main-nav-section .col-megamenu h6.title {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 6px;
    line-height: 12px;
    font-weight: 550;
      letter-spacing: 0.3px;
}

.main-nav-section .col-megamenu {
    margin: 30px 20px;
    width: 150px;
    overflow-x: hidden;
    overflow-y: auto;
      
}

.main-nav-section .col-megamenu h6.title.new-now {
 margin-top: 30px;
 margin-bottom: 30px;
}

.main-nav-section li.mt-thirty {
    margin-top: 12px;
}
.main-nav-section li.mb-thirty {
    margin-bottom: 12px;
}
.main-nav-section li a sup{
    font-weight: 600;
}

.main-nav-section .menu-image{
    margin: 30px 20px;
    float: right;
     position: relative !important;
}
.main-nav-section .menu-image img{
   
    height: 250px;
    width: 312px;
}
 .main-nav-section .menu-image .menu-img-overlay{
    height: 250px;
    width: 312px;
    position: absolute;
    top: 0px;
   background: rgba(0,0,0,0.25);  
   opacity: 0;
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    -ms-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    -o-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) ; 
  
    display: none;
}

 .main-nav-section .menu-image li:hover .menu-img-overlay{
     display: block;
     opacity: 1;
 }

  .main-nav-section .menu-imagenew{
      margin: 30px 0px 0px;
      position: relative;
  }
  .main-nav-section .menu-imagenew img{
      width: 100%;
        height: 250px;
      position: relative;
  }
.main-nav-section .menu-imagenew p{
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 22px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 7px;
}

.main-nav-section .menu-imagenew .menu-img-overlay {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    display: none;
}

.main-nav-section .menu-imagenew li:hover .menu-img-overlay {
     display: block;
     opacity: 1;
 }
 .main-nav-section li{
 
     height: 100%; 
 }
 .main-nav-section li a i {
     color: #666666;
     font-size: 15px;
 }

 .right-nav li a{
     color: #474747;
     text-align: center;
 }
  .right-nav li a:hover{
      border-bottom: none !important;
  }

  /* video banner start from here  */
.videobg-main{
     height: calc(78vh - 60px);
     min-height: calc(500px - 60px);
     overflow: hidden;
    position: relative;
        
}
  .videobg-main video{
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     object-fit: cover;
    cursor: pointer;
     
  }

  /* common pattern part start from here  */
  .common-pattern{
      /* min-height: 300px; */
      /* margin-bottom: 100px; */
    
  }

  .pattern-main{
        flex-wrap: wrap;
        display: flex;
        width: calc(100% + 2px);
  }

     .common-pattern .pattern-main .pattern-box {
    flex-basis: calc(100%/3 - 2px);
    flex-grow: 1;
    flex-shrink: 0;
    height: 43.1vw;
    background: rebeccapurple;
    margin: 2px 1px 0 0px;
  }
  .common-pattern .pattern-main .pattern-box{
      background-size: cover !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
  }
    